<div class="banner">
    <div class="container">
        <!-- <img class="people-photo" src="../assets//images/people.png" alt="people-photo"> -->
        <div class="people-photo"></div>
        <div class="banner-content">
            <h2>H<span>i</span><br>I’<span>m a front-end<br>developer</span></h2>
            <h1>W<span>illiam</span></h1>
            <a href="#">contact me<img src="../assets/images/contact.svg" alt=""></a>
        </div>
    </div>
</div>