<div class="intro">
    <div class="container">
        <div class="intro__textContent mr-6">
            <h3>I<span>ntroduction</span></h3>
            <p>H<span>i</span>, I'<span>m</span> W<span>illiam</span> L<span>ee, a</span> F<span>ront</span>-E<span>nd</span> D<span>eveloper with a passion for building beautiful and responsive websites that provide an optimal user experience.</span></p>
            <div class="sparkles">
                <img src="../assets/images/sparkle-sm.png" alt="sparkle-photo">
                <img src="../assets/images/sparkle-sm.png" alt="sparkle-photo">
                <img src="../assets/images/sparkle-sm.png" alt="sparkle-photo">
            </div>
        </div>
        <div class="intro__images">
            <img class="mr-6" src="../assets/images/sparkle.png" alt="sparkle">
            <img class="mr-6" src="../assets/images/photographer.png" alt="photographer">
            <img src="../assets/images/people-2.png" alt="people-2">
        </div>
    </div>
</div>
<div class="abount-me container">
    <ul class="ability">
        <li class="ability__item">
            <h4 class="mb-1">01</h4>
            <h4 class="mb-1">A<span>ttention to</span> D<span>etail</span></h4>
            <p>M<span>eticulous code analysis and optimization.</span></p>
        </li>
        <li class="ability__item">
            <h4 class="mb-1">02</h4>
            <h4 class="mb-1">A<span>daptability</span></h4>
            <p>S<span>wift learning of new technologies.</span></p>
        </li>
        <li class="ability__item">
            <h4 class="mb-1">03</h4>
            <h4 class="mb-1">P<span>roblem</span> S<span>olver</span></h4>
            <p>I<span>dentifying and resolving issues.</span></p>
        </li>
        <li class="ability__item">
            <h4 class="mb-1">04</h4>
            <h4 class="mb-1">T<span>eam</span> P<span>layer</span></h4>
            <p>C<span>ollaborates and shares ideas.</span></p>
        </li>
    </ul>

    <div class="content">
        <h3 class="mb-9">A<span>bout</span> M<span>e</span></h3>
        <p>With over 5 years of experience, I'm proficient in HTML, CSS, JavaScript, jQuery, and React. I have a strong understanding of user experience design and accessibility. I'm always learning new technologies and techniques to stay up-to-date in the field.</p>
    </div>
</div>
<div class="contact-me">
    <div class="container">
        <h3>CONTACT ME<img src="../assets/images/trending_flat_black_24dp 1.png" alt="arrow-photo"></h3>
        
        <ul class="contact">
            <li class="contact__item">
                <a href="#">
                    <div class="img bg-discord"></div>
                </a>
            </li>
            <li class="contact__item">
                <a href="#">
                    <div class="img bg-instagram"></div>
                </a>
            </li>
            <li class="contact__item">
                <a href="#">
                    <div class="img bg-message"></div>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="my-project container">
    <h3 class="mb-4">My Projects</h3>
    <div class="projects">
        <img class="mr-6" src="../assets/images/Rectangle 10.png" alt="project-cover">
        <div>
            <div class="projects__description mb-6">
                <img class="mr-6" src="../assets/images/Rectangle 15.png" alt="project-cover">
                <div class="content">
                    <p>I've worked on a variety of websites, including e-commerce sites, blogs, and landing pages. I take pride in creating clean, efficient, and user-friendly code.</p>
                    <a href="#">SEE MORE<img class="ml-1" src="../assets//images/arrow_outward-white.png" alt="arrow-photo"></a>
                </div>
            </div>
            <div class="projects__others">
                <img class="mr-6" src="../assets/images/Rectangle 14.png" alt="project-cover">
                <img src="../assets/images/Rectangle 29.png" alt="project-cover">
            </div>
        </div>
    </div>
</div>