@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

:root {
  --color1: #FFFFFF;
  --color2: #000000;
  --color3: #00FFA3;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Bruno Ace', 'cursive';
  line-height: 1.5;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}



img {
  vertical-align: middle;
}